@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    
    --dark-one:#333;
    --dark-two:#7a7a7a;
    --light-one:#fff;
    --light-two:#f9fafb;

}
html body{
    scroll-behavior:smooth;
    transition: 1s;
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.uni-up-margin{
  margin-top: 6.5rem;
}



nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    
}
.navbarr{
  display: flex;
  flex-direction: column;
  position: fixed;

  width: 100vw;
    z-index: 102;
    top: 0;
    border-bottom: 1px solid gray;
    box-shadow: 0px 15px 10px -15px #111;
  
}
.margin{
  height: 0.4rem;
  background-color: var(--light-one);
}
.nav_container{
    position: relative;
    z-index: 5;
    /* max-width: 92rem; */
    /*background-color: red;*/
    padding: 0 4rem;
    /* margin: 0 5rem; */
    
}
nav .nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.logo{
width: 124px;
display: flex;
align-items: center;
}
.links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links ul a{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;

}
.links a{
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--light-one);
    font-size: larger;
    text-transform: uppercase;
    transition: 0.3s;
}
.links a.active_nav{
    background-color: #19223A;
    color: var(--light-one);
    border-radius:2rem ;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
    
}
.links a.active_nav:hover{
  opacity: 0.8;
  color: var(--light-one);
}

.links a:hover{
    color:#a7a8ad; 
}

.hamburger-menu {
  width: 2.7rem;
  height: 3rem;
  z-index: 100;
  position: relative;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu .bar {
  position: relative;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: red;
  transition: 0.5s;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: red;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

nav.open .hamburger-menu .bar {
  background-color: transparent;
  transform: rotate(360deg);
}

nav.open .hamburger-menu .bar:before {
  transform: translateY(0) rotate(45deg);
  background-color: #ff1c0b;
}

nav.open .hamburger-menu .bar:after {
  transform: translateY(0) rotate(-45deg);
  background-color: #ff1c0b;
}

nav.open .links {
  transform: translateX(0);
}

.nav_item a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 0 10px;
  letter-spacing: 0.5px;

}
.nav_item a::after{
  content: "";
  position: absolute;
  background-color: #40A2D5;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav_item a:hover::after{
  width: 100%;
}

.test1{
    height: 50vh;
    width: 100vw;
    background-color: var(--dark-two);
}
.test2{
    height: 50vh;
    width: 100vw;
    background-color: var(--dark-one);
}

@media (max-width: 1048px){
    .links a {
        font-size: 0.8rem;
        padding: 0.65rem 0.7rem;
      }
    
      .links a.active {
        font-size: 1rem;
        padding: 0.7rem 1.7rem;
        margin-left: 0.6rem;
      }
}

@media (max-width: 830px){
    .hamburger-menu {
        display: flex;
      }
    
      
    
      .links {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateX(100%);
        transition: 0.5s;
        color: #ff1c0b;
      }
      .img-content{
        width: 12rem;
      }
    
      .links ul {
        flex-direction: column;
        flex-shrink: 0;
      }

      ul
      {
        flex-shrink: 0;
      }
    
      .links a {
        color: #ff1c0b;
      }
      
    
      .links a.active {
        margin-left: 0;
        margin: 0.5rem 0;
      }
      .links a.active_nav{
        background-color: var(--light-one);
        color:#19223A;
        border-radius:2rem ;
        font-size: 1rem;
        padding: 0.7rem 1.5rem;
        margin-left: 1rem;
        
    }
    .links a.active_nav:hover{
      opacity: 0.8;
      color: #19223A;
    }
}
@media (max-width:430px){
    nav .nav_container{
        margin: 0 -30px;
    }
    .logo{
        width: 150px;
    }
    .links ul {
      flex-direction: column;
      flex-shrink: 0;
    }
    ul
      {
        flex-shrink: 0;
      }
}



.uni-up-margin-5rem{
    margin-top: 5rem;
}



/* slider ------------------------------ START ---------------------------------------------------- */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: var(--main-color);
}
.slick-list {
	position: relative;
	/* display: block; */
 /* overflow: hidden;  */
 /* overflow-x: hidden;
 overflow-y: visible; */
 overflow: visible;
height: 520px;

	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide img {
	display: block;
}
.clr_white{
  color: white;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid var(--main-color);
}
.slick-btn.slick-hidden {
	display: none;
}
 
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 52%;
	display: block;
	width: 42px;
	height: 48px;
	padding: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	border: none;
	outline: none;
  z-index: 100;
  color: red;
  background-color: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	color: red;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}
.slick-prev:before, .slick-next:before {
	font-family: "FontAwesome";
	font-size: 40px;
	line-height: 1;
	opacity: .75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	left: -4px;
    
}
.slick-prev:before {
	content: "";
}
.slick-next {
	right: -4px;
    
}
.slick-next:before {
	content: "";
}
.testimonial .container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container_1 {
	/* box-sizing: content-box; */

    /* ignore
	max-width: 1000px; 
	margin-left: auto;
	margin-right: auto; 
    ignore  */

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
  overflow: visible;
}
/* .container_1:hover{
  z-index: 1;
} */
.indentity {
	margin: 0!important
}
figure.testimonial {
	position: relative;
	float: left;
	/* overflow: hidden; */
	margin: 10px 2.7%;
	/* padding: 15px 8px; */
	text-align: left;
}
figure.testimonial * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
	max-width: 100%;
	vertical-align: middle;
}
figure .watch-btn img{
  border-radius: 50%;
}
figure.testimonial blockquote {
	/* display: block; */
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0;
	position: relative;
  border-radius: 2.5rem;
  box-shadow:6px 14px 29px 12px rgba(0,0,0,.2);
  cursor: pointer;
  z-index: 1;
}
/* figure.testimonial blockquote:hover{
  transform: scale(2);
} */
figure.testimonial:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.4);
  z-index: 4;
}

.h{
  background-color: blueviolet;
  padding: 1rem;
  color: white;
}
.h:hover{
  transform: scale(1.5);
}
.trans-card{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem;
  
  z-index: -1;
  color: white;
  /* transform: translateY(300px); */
  background-color: black;
  cursor: unset;
    /* inner glow 👇 */
box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);

}

figure.testimonial:hover .trans-card{
  transform: translateY(150px);
  transition: all 0.3s ease-in-out;
  visibility: visible;
  z-index: 5;
}
@media(max-width:450px){
  figure.testimonial:hover .trans-card{
    transform:translateY(100px);
  }
  figure.testimonial:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.8);
    z-index: 4;
  }
  .trans-card{
    height: 80%;
  }
  
}




/* .h:hover .test{
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
  z-index: 4;
} */

.imgWidth{
    width: 25rem;
    border-radius: 12px;
    object-fit: cover;
}
@media(max-width:920px){
  .imgWidth{
    height: 150px;
  }
}
.container_2 {
	box-sizing: content-box;


    /* ignore
	max-width: 1000px; 
	margin-left: auto;
	margin-right: auto; 
    ignore  */



	padding-left: 15px;
	padding-right: 15px;
  overflow-y: visible;
  overflow: visible;
 
  position: relative;
  
}

/* slider ------------------------------------ END ----------------------------------------------
/* Import Google font - Poppins */

.card{
  padding: 1rem;
  background-color: red;
  transition: all 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.5);
  z-index: 99;
  overflow: visible;
}

.card:hover .trans-card{
  transform: translateY(157px);
  z-index: 100;
}



#carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-items {
  display: flex;
}

.carousel-items img {
  width: 100%;
}

.home-background-cont{
  /* background-color: aqua; */
  height: calc(100vh - 6.5rem);
  width: 100vw;
  background-repeat: no-repeat;
   background-size: cover; 
   object-fit: cover;
  position: relative;
  overflow: hidden;
}
.home-overlay-abs{
  background-color: rgba(0,0,0,.4);
  top: 0;
  left: 0;
  height: calc(100vh - 6.5rem);
  width: 100vw;
  z-index: 1;
}
.home-back-abs{
  position: absolute;
  top: 92px;
    left: 42px;
  color: white;
  width: 30rem;
  z-index: 2;
}
.home-slider-title{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  /* text-decoration: underline; */
  color: #ff1c0b;
  margin-bottom: 1rem;
  font-weight: 700;
  width: 38rem;
}
.home-slider-desc{
  max-height: 10rem;
  width: 30rem;
  overflow: hidden;
  font-size: 12px;
  color: #d3d3d3;
  font-family: 'Poppins', sans-serif;
}
.home-slider-btns-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
  margin-top: 1rem;
}
.watch-btn{
  background-color: white;
  color: black;
  padding: 0.7rem 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid white;
  border-radius: 0.2rem;
}
.watch-btn:hover{
  border: 1px solid white;
  color:#ff1c0b;
}
.watchlist-btn{
  background-color: #7a7a7a;
  color: white;
  padding: 0.7rem 0.9rem;
  border: 1px solid #7a7a7a;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.2rem;
}
.watchlist-btn:hover{
 opacity: 0.7;
}
.red-btn{
  background-color: #ff1c0b;
  color: white;
}
figure .home-slider-btns-2{
  width: 100%;
  font-size: 12px;
  position: absolute;
    bottom: 18px;
    left: 1%;
}
figure .watch-btn{
  padding: 0;
  background-color: transparent;
  border: unset;
  width: 2rem;
}
figure .watch-btn:hover{
  border: unset;
}
figure h2{
  margin-bottom: 1rem;
}
@media(max-width:450px){
  figure h2{
    font-size: 14px;
  }
  figure p{
    font-size: 8px;
  }
  .slick-list{
    height: 460px;
  }
}
figure .watchlist-btn{
  padding: 0.5rem 0.7rem;
}
figure p{
  height: 50px;
  overflow-y: hidden;
  font-size: 12px;
}
.slick-slider{
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.slick-slider .slick-list {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
.test{
  position: relative;
  z-index: 1 !important;
}
.ticks{
  width: 3.5rem;
  height: 3.5em;
  position: relative;
  cursor:grabbing;
}
.tick-1{
  position: absolute;
  width: 3px;
  height: 2.1rem;
  top: 10px; 
  left: 33px;
  transform: rotate(90deg);
  background-color: white;
}
.tick-2{
  position: absolute;
  width: 3px;
  height: 2.1rem;
  top: 10px;
  left: 32px;
  background-color: white;
}

/* .ticks:hover .tick-1{
  top: 24px;
  transform: rotate(308deg);
  transition: 0.5s all;
  height: 0.9rem;
  left: 18px;
}
.ticks:hover .tick-2{
  transform: rotate(405deg);
  transition: 0.5s all;
  height: 1.9rem;
} */
.ticks.clicked .tick-1 {
  top: 24px;
  transform: rotate(308deg);
  transition: 0.5s all;
  height: 0.9rem;
  left: 18px;
}
.ticks.clicked .tick-2 {
  transform: rotate(405deg);
  transition: 0.5s all;
  height: 1.9rem;
}



.container_3{
  position: relative;
  z-index: 1;
}
.container_3:hover{
z-index: 2;
}
@media(max-width:450px){

  .home-slider-btns-2{
    margin-top: 0;
  }
  figure h2{
    margin:0;
    height: 90px;
    overflow: hidden;
  }
  .trans-card{
    padding: 0.2rem;
  }
  .container_2 h1{
    font-size: 21px;
    letter-spacing: 1.5px;
  }
}


/* .wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #f2f2f2;
}

.wrapper i:first-child {
  left: -22px;
  display: none;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
} */

.container_2{
  margin-top: unset;
  margin-bottom: unset
}
.slick-list{
  height: unset;
  /* overflow-y: visible; */
}


.container_2{
  /* overflow: visible; */
  margin-top: unset;
}

.slick-list{
  overflow: visible;
}
.slider-container{
  height: 270px;
}

/* figure.testimonial:hover{
  transform: translate(50px , 100px);
  transform-origin: 70% 10% 150px;;
} */
.container_2 h1{
  color: white;
}
.my-list-section h1{
  color: white;
}
.display-none{
  display: none;
}
.my-list-h1{
  display: none;
}
.search{
  position: absolute;
  right: 26%;
}
.search-body{
  height: 200vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-200vh);
  transition: all 0.3s ease-in-out;
  z-index: 100;
  overflow: hidden;
}
.search-body-translate{
  transform: translateY(5.2rem);
  height: fit-content;
  min-height: 100vh;
}
.cards_class{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  
}
.search-input-container{
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  padding: 0.7rem;
  width: 25rem;
  margin: auto;
}
.card_movies{
  width: 300px;

}
.body-height-200vh{
  min-height: 210vh;
}
@media(max-width:920px){
  .card_movies{
    width: 200px;
  }
}
@media(max-width:450px){
  .home-background-cont{
    height: 60vh;
  }
  .home-back-abs{
    left: 8px;
  }
  .home-slider-desc{
    max-height: 9rem;
    width: 23rem;
  }
  .home-back-abs .home-slider-btns-2{
    margin-top: 1rem;
    margin-left: -1rem;
  }
  .home-slider-title{
    font-size: 30px;
    width: 20rem;
  }
  .card_movies{
    width: 100px;
  }
  figure h2{
    font-size: 11px;
  }
}
